### Excercise 12: Implement Batch Gradient Descent with early stopping for softmax regression using only NumPy

In [1]:
import numpy as np

In [2]:
# Load the iris dataset
from sklearn.datasets import load_iris

iris = load_iris(as_frame=True)
list(iris)

['data',
 'target',
 'frame',
 'target_names',
 'DESCR',
 'feature_names',
 'filename',
 'data_module']

In [3]:
iris.data.head(3)

   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2

In [11]:
iris.data.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm)
count,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333
std,0.828066,0.435866,1.765298,0.762238
min,4.300000,2.000000,1.000000,0.100000
25%,5.100000,2.800000,1.600000,0.300000
50%,5.800000,3.000000,4.350000,1.300000
75%,6.400000,3.300000,5.100000,1.800000
max,7.900000,4.400000,6.900000,2.500000

In [4]:
iris.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [8]:
from sklearn.model_selection import train_test_split

X = iris.data.values
y = iris.target.values

In [9]:
# Add the intercept term to the features
from sklearn.preprocessing import add_dummy_feature
X_b = add_dummy_feature(X)  # add x0 = 1 to each instance

In [10]:
# Split the data to a training and a test set
X_train, X_test, y_train, y_test = train_test_split(X_b, y, random_state=42)

In [12]:
# Scale the dataset
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.fit_transform(X_test)

In [13]:
len(np.unique([[0, 1, 2, 2, 1, 2, 1, 0]]))

3

In [23]:
theta = np.random.randn(5, 3)
scores = np.empty((112, 3))
probabilities = np.empty_like(scores)
gradients = np.empty_like(theta)
for k in range(3):
    scores[:, k] = theta[:, k].T @ X_train_scaled.T
for i in range(scores.shape[0]):
    for k in range(3):
        probabilities[i, k] = np.exp(scores[i, k]) / np.sum(np.exp(scores[i]))
for k in range(3):
    gradients[:, k] = 1 / 112 * np.sum()

In [40]:
print((probabilities[:,0] - y_train[0]).shape)
print(X_train_scaled[0].shape)

(112,)
(5,)

In [ ]:
# Try to implement Batch (Full) Gradient Descent for Softmax (multiclass) regression
eta = 0.1  # learning rate
n_epochs = 1000
m = len(X_train_scaled)  # number of instances
n = X_train_scaled.shape[0]  # number of features (= 5)
K = len(np.unique(y))  # number of classes (= 3)
np.random.seed(42)
theta = np.random.randn(n, K)  # 5 input features, 3 classes
gradients = np.empty_like(theta)

for epoch in range(n_epochs):
    # Calculate the gradients for the crossentropy cost function
    for k in range(K):
        scores = theta.T @ X_train_scaled.T
        #gradients[:, k] = 

    # gradients = 2 / m * X_b.T @ (X_b @ theta - y)
    # theta = theta - eta * gradients

theta